.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__main-container {
    display: flex;
}

.about__main-info-container {
    display: flex;
    flex-direction: column;
}

.about__additonal-container {
    display: flex;
}

.about__params-list {
    display: flex;
    flex-direction: column;
}