.feedback__form {
    display: flex;
    flex-direction: column;
}

.feedback__form-row {
    display: flex;
    justify-content: space-between;
}

.feedback__short-input-container {
    width: 50%;
}