.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.main__caption-container {
    display: flex;
}

.main__scroll-container {
    display: flex;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.main__scroll-icon {
    width: 32px;
    height: 32px;
}