.menu {
    color: white;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    margin-right: 50px;
    border-bottom: 2px solid transparent;
    
    @include tablets() {
        margin-bottom: 10px;
    }
    
    &:first-child {
        padding-left: 0;
    }
    
    &:last-child {
        padding-right: 0;
    }

    &:hover {
        color: #ff9a00;
        border-bottom: 2px solid #ff9a00;
    }
}