.menu {
    color: white;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 2px solid transparent;
    
    &:first-child {
        padding-left: 0;
    }
    
    &:last-child {
        padding-right: 0;
    }

    &:hover {
        color: #ff9a00;
        border-bottom: 2px solid #ff9a00;
    }
}