.reviews__slider-container {
    display: flex;
    flex-direction: column;
}

.reviews__slide-container {
    display: flex;
    justify-content: space-between;
}

.reviews__item-container {
    display: flex;
    flex-direction: column;
}

.reviews__author-container {
    display: flex;
    flex-direction: column;
}