.section-title {
    font-size: 36px;
    line-height: 48px;
    color: white;
    font-weight: 700;
    
    &_dark {
        color: $text-gray;
    }
    
    @include tablets {
        text-align: center;
    }
}