.skills {
    display: flex;
    align-items: center;
}

.skills__main-container {
    display: flex;
    flex-direction: column;
}

.ul.skills__categories-list {
    display: flex;
    flex-direction: column;
}

.skills__category-list {
    display: flex;
}

.skills__decoration-container {
    position: absolute;
}