.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__main-container {
    display: flex;    
}

.ul.skills__categories-list {
    display: flex;
    flex-direction: column;
}

.skills__category-list {
    display: flex;
}