.slider__slide-container {
    display: flex;
    justify-content: space-between;
}

.slider__small-pics-container  {
    position: absolute;
    display: flex;
}

.slider__slide-number {
    position: absolute;
}

.slider__caption-container {
    display: flex;
    flex-direction: column;
}