-
    var menuItems = [
    {
    link: '#',
    caption: 'Главная'
    },
    {
    link: '#',
    caption: 'Обо мне'
    },
    {
    link: '#',
    caption: 'Навыки'
    },
    {
    link: '#',
    caption: 'Работы'
    },
    {
    link: '#',
    caption: 'Отзывы'
    },
    {
    link: '#',
    caption: 'Связаться'
    },
    ]
    
.menu
    ul.menu__list
        each item in menuItems
            li.menu__item
                a.menu__link(href="${item.link}")= item.caption