-
    var socialsItems = [
    {
    link: '#',
    caption: 'insta'
    },
    {
    link: '#',
    caption: 'vk'
    },
    {
    link: '#',
    caption: 'github'
    },
    ]

mixin socials(modifier)
    .soiials
        ul.socials__list
            each item in socialsItems
                a.socials__link(href="${item.link}")
                    li(class='socials__item' + modifier)
                        +icon(item.caption, 'socials__link-icon' + modifier + ' socials__link-icon' + modifier + '-' + item.caption)