-
    var aboutItems = [
    {
        title: 'Проживаю',
        caption: 'Екатеринбург'
    },
    {
        title: 'Возраст',
        caption: '31 год'
    },
    {
        title: 'Родился',
        caption: '6 января 1988'
    },
    ]

.about
    .about__main-container
        .about__photo-container
            +image('content/user.jpg', 'about__photo')
        .about__main-info-container
            .about__intro Привет, меня зовут
            .about__name Сергей Першин
            .about__skills Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
    .about__additonal-container
        .about__params-container
            ul.about__params-list
                each item in aboutItems
                    li.about__params-item
                        span.about__params-title= item.title + ':'
                        span.about__params-caption= item.caption                
        .about__description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!