section.feedback.maincontent
    h2.feedback__title Связаться со мной
    .feedback__form
        .feedback__form-row
            .feedback__short-input-container
                label.feedback__label Введите ваше имя
                    input.feedback__short-input.feedback__short-input_name(type='text')
            .feedback__short-input-container
                label.feedback__label Введите ваш email
                    input.feedback__short-input.feedback__short-input_email(type='text')
        .feedback__form-row
            .feedback__input-container
                label.feedback__label Сообщение к письму
                    input.feedback__short-input.feedback__short-input_message(type='text')
        .feedback__submit-container
            input.feedback__submit(type='submit')