section.footer.maincontent
    .footer_left-container
        .footer__copyright-container &#169; 2019
        .footer__info-container
            .footer__name Сергей Першин
            include ./blocks/web-site
    .footer__main-container
        .footer__menu-container
            include ./blocks/menu
        .footer__lower-container
            .footer__lower-container-part
                .footer__site-info Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__socials
                    +socials('')
            .footer__lower-container-part
                .footer__hint-container
                    .footer__hint-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__hint-author Martin Golding