section.main.maincontent
    .header
        .header__logo
            span.header__logo-text СП
        .header__menu
            include ./blocks/menu
        .header__socials
            include ./blocks/socials
            +socials('_header')
    .main__caption-container
        .main__web-site-ciontainer
            include ./blocks/web-site
        .main__caption Сергей Першин
    .main__scroll-container
        .main__scroll-text Скролл
        +icon('scroll', 'main__scroll-icon')    