section.reviews.maincontent
    .reviews__slider-container
        .rewiews__title-container
            .rewiews__slider-title Что обо мне говорят
            .rewiews__prev-button
            .rewiews__next-button
        .reviews__slide-container
            .reviews__item-container
                .reviews__item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                .reviews__author-container
                    .rewievs__author-photo-container
                        img.rewievs__author-photo
                    .rewievs__author-caption-container
                        span.rewievs__author-name Ковальчук Дмитрий
                        span.rewievs__author-job Основатель Loftschool
            .reviews__item-container
                .reviews__item-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                .reviews__author-container
                    .rewievs__author-photo-container
                        img.rewievs__author-photo
                    .rewievs__author-caption-container
                        span.rewievs__author-name Владимир Сабанцев
                        span.rewievs__author-job Преподаватель