section.reviews.maincontent
    .reviews__slider-container
        .reviews__title-container
            h2.section-title Что обо мне говорят
            .reviews__button-container
                button.reviews__button
                    +icon('arrow-down', 'reviews__icon reviews__icon_left')
                button.reviews__button
                    +icon('arrow-down', 'reviews__icon')
        .reviews__slide-container
            .reviews__item-container
                .reviews__quote-container
                    +icon('quote', 'reviews__quotes-icon')
                .reviews__content-container
                    .reviews__item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__author-container
                        .reviews__author-photo-container
                            +image('content/user.jpg', 'reviews__author-photo')
                        .reviews__author-caption-container
                            span.reviews__author-name Ковальчук Дмитрий
                            span.reviews__author-job Основатель Loftschool
            .reviews__item-container
                .reviews__quote-container
                    +icon('quote', 'reviews__quotes-icon')
                .reviews__content-container
                    .reviews__item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__author-container
                        .reviews__author-photo-container
                            +image('content/user.jpg', 'reviews__author-photo')
                        .reviews__author-caption-container
                            span.reviews__author-name Ковальчук Дмитрий
                            span.reviews__author-job Основатель Loftschool
