-
    var tagItems = [
    'HTML',
    'CSS',
    'Javascript'
    ]

section.works
    .container.works__container
        .section-title.works__section-title Мои работы
        .works__content
            .works-slider
                .works-slider__pics(data-slide='3')
                    .works-slider__pics-content
                        .works-slider__fullpic-container
                            img.works-slider__fullpic(src='c917aa3dee5f5d559f697cc27933e0c1.jpg')
                            .works-slider__buttons
                                a.works-slider__btn.works-slider__btn_next(href='#')
                                a.works-slider__btn.works-slider__btn_prev(href='#')
                            ul.works-slider__thumbs
                                li.works-slider__thumb-item.active
                                    a.works-slider__thumb-link
                                        img.works-slider__thumb(src='c917aa3dee5f5d559f697cc27933e0c1.jpg' alt='')
                                li.works-slider__thumb-item
                                    a.works-slider__thumb-link
                                        img.works-slider__thumb(src='5613ab7231031c3f0453c03ad905f242.jpg' alt='')
                                li.works-slider__thumb-item
                                    a.works-slider__thumb-link
                                        img.works-slider__thumb(src='11e5e6c644d8e3530961dd89bef80b27.jpg' alt='')
                .works-slider__data
                    ul.works-slider__tags
                        li.works-slider__tag-item
                            .tag 3 Html
                        li.works-slider__tag-item
                            .tag  Css
                        li.works-slider__tag-item
                            .tag  JavaScript
                    .works-slider__title 3 Сайт школы онлайн образования
                    .works-slider__desc
                        p
                            | 3 Этот парень проходил обучение веб-разработке не где-то, а в
                            | LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .works-slider__link
                        a.iconed-link(href='//rambler.ru') Посмотреть сайт


section.works
    .maincontent
        .works__section-title-container
            h2.section-title.section-title_dark Мои работы
        .slider
            .slider__slide-container
                .slider__pic-container(style="background-image: url("+require(`images/content/slider_main.jpg`)+")")
                    .slider__small-pics-container
                        .slider__button.slider__button_next
                        .slider__button.slider__button_prev
                        .slider__small-pic-container.slider__small-pic-container_active(style="background-image: url("+require(`images/content/slider_main.jpg`)+")")
                            .slider__small-pic-overlay
                        .slider__small-pic-container(style="background-image: url("+require(`images/content/slider_main.jpg`)+")")
                            .slider__small-pic-overlay
                        .slider__small-pic-container(style="background-image: url("+require(`images/content/slider_main.jpg`)+")")
                            .slider__small-pic-overlay
                        .slider__small-pic-container(style="background-image: url("+require(`images/content/slider_main.jpg`)+")")
                            .slider__small-pic-overlay
                .slider__caption-container
                    .slider__slide-number 2
                    .slider__tags-container
                        .tags
                            ul.tags__list
                                each tag in tagItems
                                    li.tags__item= tag
                    h2.section-title.section-title_dark Сайт школы образования
                    .slider__caption-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .slider__caption-link-container
                        a.slider__caption-link(href='#' target='blank') Посмотреть сайт