-
    var tagItems = [
    'HTML',
    'CSS',
    'Javascript'
    ]

section.works
    .maincontent
        .works__sectiontitle-container
            h2.section-title.section-title_dark Мои работы
        .slider
            .slider__slide-container
                .slider__pic-container
                    +image('content/slider_main.jpg', 'slider__pic')                    
                    .slider__small-pics-container
                        .slider__small-pic-container
                            +image('content/slider_preview.jpg', 'slider__pic-preview')
                        .slider__small-pic-container
                            +image('content/slider_preview.jpg', 'slider__pic-preview')
                        .slider__small-pic-container
                            +image('content/slider_preview.jpg', 'slider__pic-preview')
                        .slider__small-pic-container
                            +image('content/slider_preview.jpg', 'slider__pic-preview')
                        .slider__button.slider__button_next
                        .slider__button.slider__button_prev
                .slider__caption-container
                    .slider__slide-number 2
                    .slider__tags-container
                        .tags
                            ul.tags__list
                                each tag in tagItems
                                    li.tags__item= tag
                    h2.section-title.section-title_dark Сайт школы образования
                    .slider__caption-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .slider__caption-link-container
                        a.slider__caption-link(href='#' target='blank') Посмотреть сайт