-
    var tagItems = [
    'HTML',
    'CSS',
    'Javascript'
    ]

.works
    h2.works__title Мои работы
    .slider
        .slider__slide-container
            .slider__pic-container
                .slider__preview-container
                    .slider__preview-title Превью работы
                    .slider__preview-caption Имеется спорная точка зрения, гласящая примерно следующее: реплицированные с зарубежных источников, современные исследования объективно рассмотрены соответствующими инстанциями.
                .slider__small-pics-container        
                    .slider__small-pic-container
                        .slider__small-pic-preview-title Превью работы
                        .slider__preview-caption Имеется спорная точка зрения, гласящая примерно следующее: реплицированные с зарубежных источников, современные исследования объективно рассмотрены соответствующими инстанциями.
                    .slider__small-pic-container
                        .slider__small-pic-preview-title Превью работы
                        .slider__preview-caption Имеется спорная точка зрения, гласящая примерно следующее: реплицированные с зарубежных источников, современные исследования объективно рассмотрены соответствующими инстанциями.
                    .slider__small-pic-container
                        .slider__small-pic-preview-title Превью работы
                        .slider__preview-caption Имеется спорная точка зрения, гласящая примерно следующее: реплицированные с зарубежных источников, современные исследования объективно рассмотрены соответствующими инстанциями.
                    .slider__small-pic-container
                        .slider__small-pic-preview-title Превью работы
                        .slider__preview-caption Имеется спорная точка зрения, гласящая примерно следующее: реплицированные с зарубежных источников, современные исследования объективно рассмотрены соответствующими инстанциями.
                    .slider__next
                    .slider__prev
            .slider__caption-container
                .slider__slide-number 2
                .tags
                    ul.tags__list
                        each tag in tagItems
                            li.tags__item= tag
                .slider__caption-title Сайт школы образования
                .slider__caption-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.slider__caption-link(href='#' target='blank') Посмотреть сайт