- var data = [{ key: 'Проживаю', value: 'Екатеринбург' }, { key: 'Возраст', value: '31' }, { key: 'Родился', value: '06 января 1988' }];
table.profile
  each item in data
    tr
      td.profile__key #{item.key}
      td.profile__value #{item.value}